* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, 文泉驛正黑,
    "WenQuanYi Zen Hei", "Hiragino Sans GB", "儷黑 Pro", "LiHei Pro", "Heiti TC",
    微軟正黑體, "Microsoft JhengHei UI", "Microsoft JhengHei", sans-serif;
  line-height: 1.66;
  text-size-adjust: 100%;
}

a {
  text-decoration: none;
}

a,
p,
span {
  font-size: 16px;
  color: #000000;
}

input {
  color: #333;
  font-family: "Open Sans", "segoe ui", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.66;
  outline: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.flexBox {
  display: flex;
  justify-content: space-between;
}

/* header */
header {
  background-color: #55ab00ff;
}

/* header top */
.header_top {
  display: flex;
  justify-content: space-between;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.header_top__left,
.header_top__right {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}
.header_top__left a,
.header_top__right a,
.header_top__left p,
.header_top__right p {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

/* header middle */
.header_middle {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
}

.header_middle .header_middle__bar {
  display: none;
  color: #ffffff;
  cursor: pointer;
}

.header_middle .header_middle__bar i {
  color: #ffffff;
  font-size: 30px;
}

.header_middle__logo {
  flex: 0 0 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_img {
  max-height: 50px;
  width: auto;
  margin: 0;
}

.header_middle__listItems {
  gap: 10px;
}

.header_middle__item {
  align-items: center;
}

.header_middle__itemIcon {
  width: 32px;
  height: 32px;
  margin: 0;
}

img.icon_header {
  height: auto;
  max-width: 100%;
}

.item_Buy {
  flex-direction: column;
  padding-left: 10px;
}

.item_Buy span {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
}

.item_Buy > span:last-child {
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-width: 90px;
}

.item_Buy .product_number {
  padding: 0 3px;
  background: #fff;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  line-height: 20px;
  font-weight: 500;
  color: #ff5722;
}

.header_middle__search {
  min-height: 36px;
  max-width: 30%;
  flex: 0 0 50%;
  position: relative;
  max-width: 50%;
}

.search_submit {
  position: absolute;
  right: 0;
  top: 20%;
  width: 40px;
  line-height: 36px;
  padding: 0;
  border-radius: 0 5px 5px 0;
  background: transparent;
  border: none;
}

.search_icon {
  margin-bottom: -5px;
}

.header_middle__input {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  line-height: 36px;
  padding: 0 15px;
  padding-right: 45px;
  padding-left: 15px;
  border-radius: 18px;
  border: 0;
}

/* header bottom */

.header_bottom {
}

.cleaner_subnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: visible;
  opacity: 1;
  z-index: 10;
}

.header_bottom .header_bottom__history,
.header_bottom .header_bottom__logo {
  display: none;
}

.menu_items {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.menu_item {
  position: relative;
  display: flex;
  align-items: center;
}

.menu_item a {
  color: #ffffff;
}

.menu_item:hover .sub-menu {
  display: block;
}

.menu_item .sub-menu {
  display: none;
  position: absolute;
  background-color: #ffffff;
  align-items: center;
  top: calc(100%);
  width: 220px;
  border-radius: 8px;
  transition: all 0.3s linear;
  z-index: 10;
}

.menu_item .sub-menu li {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;

  border-bottom: 1px solid #e5e5e5;
  padding: 4px 8px;
  color: #54aa00;
}

.menu_item .sub-menu li a {
  width: 100%;
  color: #54aa00;
}

.menu_item .sub-menu .icon_svg {
  font-size: 12px;
  color: #54aa00;
  fill: #54aa00;
}

.icon_svg {
  display: inline-block;
  width: 20px;
  height: 20px;
  max-width: 20px;
  max-height: 20px;
}

/*  breadcrumbs */

.breadcrumbs {
}

/* slider */

.slider {
}

.container_slider {
  display: flex;
}

.slider_left {
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
}

.slider_left > img {
  height: auto;
  width: 100%;
}

.slider_right {
  margin-left: 10px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slider_right__top {
}

.slider_right__bottom > img,
.slider_right__top > img {
  height: auto;
  width: 100%;
}

.slider_right__bottom {
}

/* flash_sale */

.flash_sale {
}

.flash_sale .container > .container_flash_sale {
  background: url(https://nhathuocthanthien.com.vn/wp-content/uploads/2021/03/dgm_nttt_img-flash-sale.png)
      no-repeat,
    linear-gradient(90deg, #54aa00, #8fca17);
  padding: 10px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 0;
  margin-bottom: 40px;
  overflow: hidden;
}

.flash_sale .container > .container_flash_sale h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.product_top {
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  padding: 12px 0;
  flex-wrap: wrap;
}

.product_top .product_top__left .product_top__titleMore {
  display: none;
}

.product_top span {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}

.product_top > .product_top__left > div > i {
  font-size: 24px;
  background: #54aa00;
  color: #fff;
  font-size: 16px;
  padding: 0;
  line-height: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
}

.product_top .product_top__rightItems .product_top__rightItem {
  flex: 0 0 auto;
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #686868;
  color: #686868;
  font-size: 14px;
  line-height: 18px;
  border-radius: 15px;
  /* margin-left: 8px; */
}

.product_top .product_top__rightItems .product_top__rightItem:last-child {
  border: 1px solid #54aa00;
  color: #fff;
  background: #54aa00;
}

.product__items {
  display: flex;
}

.product__items.list_product {
  margin-right: -5px !important;
  margin-left: -5px !important;
  overflow: hidden;
}

.product .button_more {
  font-size: 16px;
  display: block;
  margin: 0 auto;
  padding: 15px 0;
  width: 100%;
  max-width: 500px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.09);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.03);
  color: #333;
}

.product .button_more:hover {
  background: #ccc;
  color: #333;
  transition: all 0.3s linear;
}

.product__items.list_product.list_product__last {
  flex-wrap: wrap;
}

.product__items > li {
  background-color: transparent;
  margin: 0 0 10px;
  width: 100% !important;
  border-bottom-color: transparent;
  border-right-color: transparent;
  padding: 0 5px;
  -webkit-box-flex: 0;
  flex: 0 0 calc(16.666667%);
  box-sizing: border-box;
  max-width: 16.666667%;
}

.product__items > li > a {
  position: relative;
  background: #fff;
  border: 1px solid #e5e5e5;
  display: block;
  padding: 10px;
  height: 100%;
  border-radius: 4px;
}

.product__items > li > a > div > img {
  display: block;
  width: 100%;
}

.product__items > .product__item > .product__link > .product__linkBottom {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__items
  > .product__item
  > .product__link
  > .product__linkBottom
  > span {
  display: inline-block;
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
  background: rgba(84, 170, 0, 0.1);
  color: #54aa00;
  border-radius: 4px;
  /* float: left; */
  font-size: 12px;
  font-weight: 700;
  margin: 4px 0;
}

.product__items
  > .product__item
  > .product__link
  > .product__linkBottom
  > .product__title {
  position: relative;
  height: 48px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 24px;
  font-weight: 400;
  padding: 0 !important;
  display: -webkit-box;
  font-size: 16px !important;
  color: #2d2d2d;
  transition: all 0.5s ease;
  margin-bottom: 5px;
}

.product__items
  > .product__item
  > .product__link
  > .product__linkBottom
  > .product__location
  > .product__made {
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.product__items
  > .product__item
  > .product__link
  > .product__linkBottom
  > .product__location
  > .product__made
  span {
  font-size: 12px;
  color: #787878;
}

.product__items
  > .product__item
  > .product__link
  > .product__linkBottom
  > .product__price
  > span {
  font-size: 16px;
  font-weight: 400;
  color: #f16700;
}

.product__items > .product__item > .product__link > .product__linkTop > img {
  display: block;
  width: 100%;
}

/* category */
.category {
}

.category .container .category_items {
  display: flex;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category .container .category_items .category_item {
  position: relative;
  z-index: 1;
  text-align: center;
  padding: 0 5px;
  flex: 0 0 125px;
  max-width: 125px;
}

.category .container .category_items .category_item > span {
  text-align: center;
  font-size: 14px;
}

.category .container .category_items .category_item > img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin: 0 auto 5px;
  position: relative;
  z-index: 1;
  display: block;
}

/* search Top */

.product > .container .product_searchTop__items {
  display: flex;
  gap: 12px;
  overflow: hidden;
  width: 2000px;
}

.product
  > .container
  .product_searchTop__items
  > .product_searchTop__item
  .product_searchTop__link {
  display: inline-block;
  padding: 18px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 14px;
  border-radius: 25px;
  text-align: center;
}

.searchTop__link1 {
  background: #54aa00;
}

.searchTop__link2 {
  background: #607d8b;
}

.searchTop__link3 {
  background: #9e9e9e;
}

.searchTop__link4 {
  background: #673ab7;
}

.searchTop__link5 {
  background: #4caf50;
}

.searchTop__link6 {
  background: #8bc34a;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
  }

  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 25%;
  }

  .product__items > li.product__item__responsive {
    margin: 0 1px 10px;
  }

  .product__items.list_product.list_product__last {
    flex-wrap: wrap;
  }
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }

  .product__items.list_product {
    flex-wrap: wrap;
  }

  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 25%;
  }

  .product__items > li.product__item__responsive {
    margin: 0 1px 10px;
  }

  .product_top .product_top__left {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .product_top .product_top__left > .product_top__titleMore {
    color: #54aa00;
    font-size: 14px;
    line-height: 22px;
  }

  .product_top .product_top__left .product_top__titleMore {
    display: block;
  }

  .product_top .product_top__rightItems .product_top__rightItem:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 10px;
  }
  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 33.3%;
  }

  .product__items > li.product__item__responsive {
    margin: 0 1px 10px;
  }

  .container_slider .slider_right {
    display: none;
  }
  /* .header_bottom, */
  .header_top {
    display: none;
  }

  .header_middle {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px !important;
  }

  .header_middle .header_middle__logo {
    order: 2;
  }

  .header_middle .header_middle__listItems {
    order: 3;
  }

  .header_middle .header_middle__listItems .header_middle__item .item_Buy {
    display: none;
  }

  .header_middle .header_middle__search {
    order: 4;
    min-width: 100%;
  }

  .header_middle .header_middle__bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 1;
  }

  .header_bottom {
    position: fixed;
    background-color: #fff;
    left: -240px;
    top: 0;
    width: 240px;
    height: 100%;
    z-index: 10;
    transition: all 0.3s;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    /* visibility: hidden; */
  }

  .header_bottom.header_bottom__hidden {
    left: 0;
  }

  .clear__subnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
    z-index: 9;
  }

  .header_bottom .header_bottom__history,
  .header_bottom .header_bottom__logo {
    display: flex;
  }

  .header_bottom .header_bottom__history {
    align-items: center;
    column-gap: 12px;
    padding: 10px;
    border-bottom: 15px solid #f1f1f1;
  }

  .header_bottom .header_bottom__logo {
    align-items: center;
    justify-content: center;
  }

  .header_bottom .header_bottom__logo .logo_img {
    max-height: 100px;
  }

  .header_bottom .header_bottom__history i {
    color: #54aa00;
    font-size: 30px;
  }

  .header_bottom .menu_items .menu_item {
    width: 100%;
    padding: 12px 0;
    position: relative;
  }

  .header_bottom .menu_items .menu_item a {
    margin-left: 8px;
    color: #000;
  }

  .header_bottom .menu_items .menu_item svg {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    padding: 6px;
  }

  .header_bottom .menu_items .menu_item svg path {
    fill: #333 !important;
  }
}

@media (max-width: 520px) {
  .container {
    padding: 0 10px;
  }

  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 50%;
  }

  .product__items > li.product__item__responsive {
    margin: 0 1px 10px;
  }
}

@media (max-width: 350px) {
  .container {
    padding: 0 10px;
  }

  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 50%;
  }
}

@media (max-width: 300px) {
  .container {
    padding: 0 10px;
  }

  .product__items > li {
    flex: 0 0 calc(100%);
    max-width: 100%;
    padding: 0 10px;
  }
}
